
.navmobile{
    background-color: rgb(65, 5, 48);
    height: 45px;
    padding: 5px;
    align-items: center;
    place-items: center;
    position: fixed;
    width: 100vw;
    z-index: 1000;
}

.navmobileboton{
    background-color: rgba(0, 0, 0, 0.686);
    width: 30px;
    position: absolute;
    height: 30px;
    top: 15px;
    left: 25px;
    border-radius: 50%;
}
.navmobilebotonCerrar{
    background-color: rgba(0, 0, 0, 0.686);
    width: 30px;
    height: 30px;
    position: absolute;
    right: 15px;
    top: 15px;
    border-radius: 50%;
}

.navmobilebutons{
margin-top: 50px;
text-align: center;
color: black;
z-index: 1000;
}


.navmobileInicial{
    height: 100vh;
    background-color: rgb(65, 5, 48);
    position: absolute;
    top: 0;
    left: -240px;
    width: 240px;
    z-index: 1000;
}

.modoActivo{
    height: 100vh;
    background-color: rgb(65, 5, 48);;
    position: absolute;
    top: 0;
    left: 0;
    width: 240px;
    z-index: 1000;
}

.navmobileOculto{
    height: 100vh;
    background-color: rgb(65, 5, 48);
    position: absolute;
    top: 0;
    left: -240px; 
    width: 240px;
    z-index: 1000;
}






.navdesktop{
position: absolute;
left: -10000px;
}

@media (width >= 800px){
    .navmobile{
        background-color: rgb(65, 5, 48);
        height: 45px;
        padding: 5px;
        align-items: center;
        place-items: center;
        position: absolute;
        width: 100vw;
        left: -10000px;
    }



    .navdesktop{
        position: fixed;
        left: 0px;
        background-color: rgb(65, 5, 48);
        height: 30px;
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        box-shadow: 0px 0px 25px rgb(65, 5, 48);
        z-index: 10000;
    }
}